
header{
    background-color: #fff7f6;
    padding-top: 10px;
    padding-bottom: 20px;
}

.website-logo img{
    max-width: 500px;
}
.image-sizing img{
    width: 500px;
}
.top-bar h1{
    font-size: 50px;
    font-weight: 700;
    color: tomato;
    width: 500px;
    margin-bottom: 15px;
}
.top-bar span{
    font-size: 50px;
    font-weight: 700;
    color: #2c0942;
}
.top-bar p{
    width: 380px;
    color: #666;
    font-weight: 500;
}
.top-bar button{
    background-color: yellowgreen;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
}
.main-bar-one h1{
    margin-bottom: 40px;
    color: #222;
    font-weight: 700;
}

.card-inner-box{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-inner-box img{
   height: 100%;
   width: auto;
}
.card-items{
    border: 0;
    border-radius: 15px;
    padding: 20px 0;
}
.card-items h3{
    color: #333;
    font-weight: 600;
}
.card-item-footer{
    border: 0;
    background-color: #fff;
}
.card-item-footer button{
    background-color: yellowgreen;
    padding: 10px 30px;
    color: #fff;
    font-weight: 500;
}
.card-price h2{
    font-weight: 700;
    color: orange;
}
footer{
    margin-top: 100px;
}
.footer-icons img{
    height: 107px;
}
.footer-image img{
    height: 430px;
    width: auto;
}
.footer-left-content{
    width: 300px;
}
.footer-left-box{
    box-shadow: 2px 1px 20px #888888;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.reserved{
    text-align: center;
    margin-top: 50px;
}



/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .image-sizing img{
        max-width: 400px;
        height: 320px;
    }
    .footer-image img{
        max-width: 400px;
        height: auto;
    }
    
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .website-logo img{
        max-width: 200px;
    }
    .footer-image img{
        max-width: 400px;
        height: auto;
    }
    
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
   
 }